@model PagedList.IPagedList<UDI.CORE.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div>
        @Html.Partial("Category", null)
    </div>

    <div id="tblProduct">
        @Html.Partial("tableView", Model)
    </div>
    <div>
        <div id="dialogform">
            <div id="tblpro"></div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Detailproduct.js"></script>    
    
}




