@model PagedList.IPagedList<MVC_DI_IOC.Core.NorthWND.Data.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div>
        @Html.Partial("Category", null)
    </div>

    <div id="tblProduct">
        @Html.Partial("tableView", Model)
    </div>
    <div>
        <div id="dialogform">
            <div id="tblpro"></div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    
    $(document).ready(function () {
        $(".tbproduct tbody tr   ").mouseover(function () {
            $this = $(this);
            $(".tbproduct tbody tr   ").removeClass("_selected");
            $this.addClass("_selected");
        });

        $(".tbproduct tbody tr   ").mouseout(function () {
            $this = $(this);
            $(".tbproduct tbody tr   ").removeClass("_selected");
        });
        $(".tbproduct tbody tr   ").dblclick(function () {
            $this = $(this);
            if ($this.length > 0) {
                var jobNum = $this.find("#item_ProductID").val();
                //alert(jobNum);
                $.ajax({
                    type: "GET",
                    url: "http://localhost:5325/Product/Details?id=" + jobNum,
                    data: jobNum,
                    contentType: "text/xml; charset=utf-8",
                    success: function (data) {
                        $('#tblpro').html(data);
                    },
                    error: function (error) {
                        alert(error.state + " " + error.statusText)
                    }
                });
                //document.getElementById("dialogform").showModal();
                $('#dialogform').dialog({width: 500});
                //window.open('http://localhost:5325/Product/Details?id=' + jobNum, '_self', false);

            }
        });
        $("#dialogform").dblclick(function () {
            //document.getElementById("dialogform").close();
            $('#dialogform').dialog("close");
        });


        //$("#btnOrder").click(function () {
        //    var id = document.getElementById("prid").val();
        //    var quantity = document.getElementById("txtquantity").val();
        //    //var id = $("#prid").val();
        //    //var quantity = $("txtquantity").val();
        //    alert(id + " " + quantity);
        //    $.ajax({
        //        type: "POST",
        //        url: "http://localhost:5325/Product/AddOrder",
        //        data: '{"ProductID":' + id + '","quantity":"' + quantity + '"}',
        //        contentType: "text/xml; charset=utf-8",
        //        success: function (data) {
        //            alert("add successfully !");
        //        },
        //        error: function (error) {
        //            alert(error.state + " " + error.statusText)
        //        }
        //    });
        //});
        //function filter(term, _id, cellNr) {
        //    var suche = term.value.toLowerCase();
        //    var table = document.getElementById(_id);
        //    var ele;
        //    for (var r = 1; r < table.rows.length; r++) {
        //        ele = table.rows[r].cells[cellNr].innerHTML.replace(/<[^>]+>/g, "");
        //        if (ele.toLowerCase().indexOf(suche) >= 0)
        //            table.rows[r].style.display = '';
        //        else table.rows[r].style.display = 'none';
        //    }
        //}
        //function filter (phrase, _id)
        //{
        //    var words = phrase.value.toLowerCase().split(" ");
        //    var table = document.getElementById(_id);
        //    var ele;
        //    for (var r = 1; r < table.rows.length; r++) {
        //        ele = table.rows[r].innerHTML.replace(/<[^>]+>/g, "");
        //        var displayStyle = 'none';
        //        for (var i = 0; i < words.length; i++) {
        //            if (ele.toLowerCase().indexOf(words[i]) >= 0)
        //                displayStyle = '';
        //            else {
        //                displayStyle = 'none';
        //                break;
        //            }
        //        }
        //        table.rows[r].style.display = displayStyle;
        //    }
        //};
   });

</script>
    <script src="~/Scripts/Detailproduct.js"></script>    
    
}




